Repository LiveIntent/live-connect, pull requests merged in 2023-12, with the labels that each got.

#265 feat: move to browserstack runner [DEVOPS-1930]
  .circleci/config.yml
Labels: Ready for review, review:cm

#267 [CM-1026] Respect gpp eu section
  src/enrichers/privacy-config.ts
  test/unit/enricher/privacy-config.spec.ts
Labels: Ready for review, review:cm

#272 NOISSUE - Get rid of clearIdexCache
  src/standard-live-connect.ts
Labels: Ready for review

#274 NOISSUE -Bump Chrome min to 47 and remove IE 11
  test-config/wdio.browserstack.conf.mjs
Labels: Ready for review, review:cm

#276 CM-1047: Fix live-connect flaky browserstack test
  src/enrichers/privacy-config.ts
  src/pixel/url-collector.ts
  test-config/wdio.browserstack.conf.mjs
Labels: Ready for review, review:cm

#277 No-Ticket: Use chrome 45 and remove IE
  .browserslistrc
  package-lock.json
  package.json
  test-config/wdio.browserstack.conf.mjs
  test-config/wdio.local.chrome.conf.mjs
Labels: Ready for review, review:cm

#285 NOISSUE - Log cookie domain
  src/pixel/state.ts
  src/types.ts
  test/unit/standard-live-connect.spec.ts
Labels: review:cm
